<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC "-//freedesktop//DTD polkit Policy Configuration 1.0//EN"
"http://www.freedesktop.org/software/polkit/policyconfig-1.dtd">
<policyconfig>

  <vendor>Snigdha OS</vendor>
  <vendor_url>https://snigdhaos.org</vendor_url>

  <action id="org.snigdhaos.libs.install-package.pkexec.policy.run">
    <description>Install software using the pacman package manager</description>
    <message>Authentication is required to install software with pacman.</message>
    <icon_name>snigdhaos-pacman</icon_name>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/lib/snigdhaos/install-package</annotate>
    <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
  </action>

  <action id="org.garuda.libs.pkexec-gui.pkexec.policy.run">
    <description>Run a graphical program as root</description>
    <message>Authentication is required to run a graphical program with elevated privileges.</message>
    <icon_name>gnome-session</icon_name>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/lib/snigdhaos/pkexec-gui</annotate>
    <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
  </action>

</policyconfig>
