pkgbase = eshanized-keyring
	pkgdesc = Eshanized GPG keyring
	pkgver = 20240430
	pkgrel = 1
	url = https://snigdhaos.org
	install = eshanized-keyring.install
	arch = any
	license = MIT
	source = Makefile
	source = eshanized.gpg
	source = eshanized-revoked
	source = eshanized-trusted
	validpgpkeys = 90036098D2B5C70D601D904D3EADBD4DF45A55DD
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP

pkgname = eshanized-keyring
