[Desktop Entry]
Version=1.0
Name=Snigdha OS PowerShell
Comment=PowerShell Configuration for Snigdha OS
Exec=pwsh -NoExit -Command "& {if (Test-Path '$HOME/.config/powershell/Microsoft.PowerShell_profile.ps1') { . '$HOME/.config/powershell/Microsoft.PowerShell_profile.ps1' } }"
Icon=/usr/share/pixmaps/snigdhaos-powershell.png
Terminal=true
Type=Application
Categories=Utility;System;Development;
StartupNotify=true
