pkgbase = ezcommits
	pkgdesc = Better Git Commit Messages
	pkgver = 1
	pkgrel = 1
	url = https://github.com/iconized/ezcommits
	arch = x86_64
	license = MIT
	makedepends = git
	depends = curl
	depends = gum
	source = git+https://github.com/iconized/ezcommits.git
	sha256sums = SKIP

pkgname = ezcommits
