pkgbase = snigdhaos-backgrounds
	pkgdesc = Snigdha OS Wallpapers for GNOME
	pkgver = r28.1d04059
	pkgrel = 1
	url = https://github.com/Snigdha-OS/snigdhaos-backgrounds
	install = snigdhaos-backgrounds.install
	arch = any
	license = MIT
	makedepends = git
	source = git+https://github.com/Snigdha-OS/snigdhaos-backgrounds.git
	sha256sums = SKIP

pkgname = snigdhaos-backgrounds
