[Desktop Entry]
Type=Application
Version=1.0
Name=Install Snigdha OS
GenericName=System Installer
Comment=Installer for Snigdha OS
Keywords=calamares;installer;system;setup;OS;
TryExec=/usr/bin/calamares_polkit
Exec=/usr/bin/calamares_polkit %f -style breeze
Icon=snigdhaos-calamares
Terminal=false
StartupNotify=true
Categories=System;Settings;Utility;Security;Qt;KDE;GTK;Filesystem;GNOME;
X-AppStream-Ignore=true
